/* setting up the container for the about page itself */
.about-container{
    display: flex;
    flex-direction: column; /* start at very middle, stack on top of eachother */
    height: 100vh;
}

.about-quote{
    font-size: medium;
    color: #256625; 
    text-shadow:4px 4px #1F331F;

    margin: 5rem; /* align text to middle of page */
    text-align: center;   
}

/* horizontal lines, simply want to apply a gradient */
/* For the split between the two main content halves */
.home-content hr{
    border:none; 
    margin-bottom: 1.5rem;
}