/* setting up the container for the about page itself */
.about-container{
    display: flex;
    flex-direction: column; /* start at very middle, stack on top of eachother */
    min-height: 100vh;

    text-align: center; /* text should be in the middle unless said otherwise */
    font-family: 'Nuber Next', sans-serif;
    box-sizing: border-box;
}

.about-quote{
    font-size: medium;
    font-family: 'BM Space', sans-serif; /* font settings and shadow */
    color: #256625; 
    text-shadow:4px 4px #1F331F;

    margin: 5rem; /* align text to middle of page */  
}

.quick-summary{
    margin-inline: 2rem; /* margin on left and right sides */
    margin-bottom: 4rem; /* space out from second "paragraph" */
    max-width: 100vw; 
    
}

.about-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* nowrap allows both elements onto one line */

    justify-content: space-between;
    padding: 2rem; /* space away from edge of screen */

    margin-inline: 2rem; /* space away from each other */
}

.about-content h2{
    flex: 1; /* allows the h2 to grow/shrink to fit all available space */
}


/* simply the divider between the two "body" parts */
.divider{
    width: 2px; 
    background: linear-gradient(to bottom, transparent,#0a1f3d 20%,#ffffff 50%,#0a1f3d 80%,transparent);
    /* goes from top to bottom, starts transparent, ends transparent. The rest is the in between colors */
    align-self: stretch;

    margin-inline: 2rem; /* distance from other elements */

}

/* For the split between the two main content halves */
.home-content hr{
    border:none; 
    margin-bottom: 1.5rem;
}





