/**
Section for the animations of text, and the images on the screen.
*/

@keyframes imgRotate{
    0%{
        opacity: 0;
        transform: translateY(200%) rotateY(1440deg) rotateX(360deg); 
    }
    50%{
        opacity: 0.2;
        
    }
    100%{
        opacity: 1;
        transform: translateY(0) rotateY(0deg) rotateX(0deg);
    }
}


.home-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flexbox, evenly spaced items in the middle of their boxes */
    padding: 1rem;
    box-sizing: border-box;
    
    border-bottom: 3px groove black;

    font-family: 'Barlow Regular', sans-serif;
    font-style: italic;
    /* text parameters */
    
    min-height: 100vh;
}

/**
Container for the image and the image and its header, as they should come into view simultaneously.
*/
.image-container{
    position: relative;
    perspective: 1000px;
    /* Setup required for the rotate in effect */

    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    /* Stack elements on top of eachother, align to center */

    padding-right: 8rem;
    /* 8rem padding to move it away from the border */
}

.home-image{
    height: auto;
    max-width: 100%;
    animation: imgRotate 4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.home-image-header{
    background: linear-gradient(to top right, #dddbda 20%, hwb(0 16% 84%) 80%);
    background-clip: text;
    /*gradient for the text*/

    color:transparent;
    /*need to make the text transparent otherwise the default colors overrides the gradient*/

    font-family: 'Barlow Regular', sans-serif;
    font-size: 1.4rem;
    font-style: normal;

    text-align: center;
    margin-top: 2rem;
    /* align to center of container, space it from the image */

    animation: slideUp 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 4s;
    /* Slide in animation, needs to wait for the completion of the image animation */

    opacity: 0;
    /* need to make the text invisible at the beginning */
}

/*_______________________________________________ HOME CONTENT STARTS HERE _______________________________________________ */

/* horizontal lines, simply want to apply a gradient */
.separator-line {
    background: linear-gradient(90deg, #0a0f1f 15%, #12a512 100%);
    margin-bottom: 2rem;
    opacity: 1;
    height: 2px;
    border:none;

    box-shadow: 0 0 12px #363434;
}

/* For the split between the two main content halves */
.home-content hr{
    border:none; 
    margin-bottom: 1.5rem;
}


.home-content{
    padding-left: 5rem;
    flex: 2;
    /* Flex of 2 allows it to take up more space */

    display: flex;
    justify-content: space-evenly; /* default parameters, may have some repeats from parent container */
    flex-direction: column;

    /* Animation for the home content, or the text */
    animation: slideUp 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* for the header of this section */
.home-header{
    font-size: 4rem;
    font-style: normal;
    font-weight: bold;
    font-family: 'Novecento Light', sans-serif;
    /* font parameters */
}

/* for the actual text itself */
.home-content p{
    font-size: 2rem; /* ditto, just setting parameters */
}

/*__________________________________________________ SOCIAL LINKS ______________________________________________________ */

/* container settings */
.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 5rem;
    margin-top: 5rem;
}

/* settings for the actual icons */
.social-links svg{
    font-size: 4rem;
    color: #ffffff;
}

/* determines what happens on hover, small color change with a glow */
.social-links svg:hover{
    transform: translateY(-4px);
    
    color: #ffffff9a;
    text-shadow: 0 0 6px #ffffff9a;
    transition: scale 0.25s ease, text-shadow 0.25s ease, color 0.25s ease;
}


