/* website loading screen */

/* basic rotation animation, combine with slideUp */
@keyframes rotation{
    from{rotate: 0deg;}
    to{rotate: 360deg;}
}

.load-container{
    min-width: 100vw;
    min-height: 100vh;
    /* ensure it covers the entire page */

    background: rgba(10, 15, 31, 1);
    /* simple gradient for the background */

    display: flex; /* flex display, want all the elements to be grouped around the same area */
    flex-direction: column; /* two main containers, one on top of the other */
    justify-content: center;
    align-items: center;

    transition: opacity 0.5s ease; /* handles fade in and out */
}

.load-container.hidden{
    opacity: 0; /* done loading, can get rid of everything else now */
}


/*------------- INDICATOR STUFF ----------------- */

/* container for the load indicators themselves */
.load-indicators{
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease; /* opacity transition */
}

/* allow the load indicators to be visible */
.load-indicators.active{
    visibility: visible;
    opacity: 1;
}

/* this wrapper handle visibility and slide in alone */
.load-indicator-wrapper{
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    margin: 7rem; 
}

/* makes them visible, apply the slideUp animation */
.load-indicator-wrapper.active{
    opacity: 1;
    visibility: visible;
    animation: slideUp 2s forwards;
}

/* load indicators themselves */
.load-indicator{
    color: white; 
    width: 60px;
    height: 60px; /* size settings */

    display: flex; /* make sure they're centered */
    align-items: center;

    animation: rotation 1s infinite;  /* rotation animation */
}

/* stop the rotation */
.load-indicator.stopped{
    animation-play-state: paused;
}

/* simple text that says "OK!" */
.okay-sign{

}

