@font-face {
    font-family: 'FOT-Skip';
    src: url('../../assets/fonts/FOT-Skip-Std-B.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'BM Space';
    src: url('../../assets/fonts/bm-space.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Hiragino Mincho';
    src: url('../../assets/fonts/Hiragino-Mincho-Pro-W6.otf') format('opentype');
    font-weight: normal;
}

.navbar {
    width: 100%;
    background: #000000;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 10px 4px rgba(18, 165, 18, 0.15);
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .name{
    font-family: 'LEMON-MILK-MEDIUM', sans-serif;

    font-size: 2.2rem;
}

/**
    Removes the underline from the links in the navbar when hovered over
*/
.navbar a {
    color: inherit;
    text-decoration: none;
}

.navbar .name:hover {
    text-shadow: 0 0 6px #ffffff;
    transition: text-shadow 0.2s ease;
}

.navbar .accent {
    color: #12a512;
    font-family: "Hiragino Mincho", "Comic Sans MS", "sans-serif"; 
    font-size: 1.5rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    margin-left: 1.5rem;
    gap: 2rem;
    padding: 0;

    font-family: 'BM Space', sans-serif;
    font-size: 1.5rem;
}

.navbar-links a {
    color: inherit;
    text-decoration: none;
    transition: scale 0.25s ease, text-shadow 0.25s ease, color 0.25s ease;

    display: inline-block;
}

/**
    How the navbar elements change when hovered over
*/
.navbar-links a:hover{
    scale: 1.15;
    color: #12a512;
    
    text-shadow: 0 0 6px #12a512;
}

.navbar-links li a {
    font-weight: bold;
    font-style: italic;
    transition: color 0.2s ease;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        gap: 0.75rem;
        padding: 1rem;
    }

    .navbar-links {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

