/**
This next section will be importing custom fonts to use.
*/
@font-face {
    font-family: 'LEMONMILK-MediumItalic';
    src: url('./assets/fonts/LEMONMILK-MediumItalic.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'LEMON-MILK-MEDIUM';
    src: url('./assets/fonts/LEMONMILK-Medium.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'FOT-Skip';
    src: url('./assets/fonts/FOT-Skip-Std-B.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'BM Space';
    src: url('./assets/fonts/bm-space.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Hiragino Mincho';
    src: url('./assets/fonts/Hiragino-Mincho-Pro-W6.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Barlow Regular';
    src: url('./assets/fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Barlow Medium';
    src: url('./assets/fonts/Barlow-Medium.ttf') format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: 'Novecento Light';
    src: url('./assets/fonts/Novecento-Light.otf') format('opentype');
}

@font-face{
    font-family: 'Nuber Next';
    src: url('./assets/fonts/NuberNext-Regular.otf') format('opentype');
}
/**
Font section ends here
*/

/**
Animations relating to the website will be defined here, primarily animations for text and images.
*/

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight{
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft{
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* copied from the navbar, creates the illusion of text being "typed out" */
@keyframes type-out{
    from{
        width: 0; 
    }
    to{
        width: 100%;
    }
}

/* Moving gradient background */
@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* force border box */

    flex-wrap: wrap;
}

body {
    font-family: 'BM Space', sans-serif;
    line-height: 1.6;
    background-color: #0a0f1f;
    color: #ffffff;
}

html {
    scroll-behavior: smooth; /* makes hyperlink clicks "smooth" */
}