/**
This next section will be importing custom fonts to use.
*/
@font-face {
    font-family: 'LEMONMILK-MediumItalic';
    src: url('./assets/fonts/LEMONMILK-MediumItalic.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'LEMON-MILK-MEDIUM';
    src: url('./assets/fonts/LEMONMILK-Medium.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'FOT-Skip';
    src: url('./assets/fonts/FOT-Skip Std B.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'BM Space';
    src: url('./assets/fonts/BMSPA_.TTF') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Hiragino Mincho';
    src: url('./assets/fonts/Hiragino Mincho Pro W6.otf') format('opentype');
    font-weight: normal;
}

/**
Font section ends here
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* The predictable box math you just learned! */
}

body {
    font-family: 'BM Space', sans-serif;
    line-height: 1.6;
    background-color: #363434;
    color: #333;
}