font-face {
    font-family: 'LEMONMILK-MediumItalic';
    src: url('./assets/fonts/LEMONMILK-MediumItalic.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* The predictable box math you just learned! */
}

body {
    line-height: 1.6;
    background-color: #363434;
    color: #333;
}